body{
    margin:0;
    padding:0;
}

header{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/img-03.jpg) ;
    height: 100vh;
    background-size: cover;
}

/*.heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 73%;
}*/

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 73%;
}

.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

footer{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), rgb(50, 50, 50) ;
    background-size: cover;
}

section{
    background-color: white;
    background-size: cover;
}

summary{
    background-color: black;
    background-size: cover;
}

.line{
    width: 112px;
    height: 47px;
    border-bottom: 4px solid rgb(231, 231, 6);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 85%;
}

.vline{
    width: 43px;
    height: 300px;
    border-left: 5px solid black;
    position: absolute;
    top: -200px;
    left: 60%;
    width: 50%;
}

.flow {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 1);
    overflow: hidden;
    position: relative;
    content: url(img/slide3.jpg);
    content: no-repeat;
}

.hlt{
    width: 95%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    background-image: url(img/cms.jpg);
    background-size: 100% 100%;
}

.hrt{
    width: 105%;
    padding-top: 45%;
    overflow: hidden;
    position: relative;
    background-image: url(img/RM.jpg);
    background-size: 100% 100%;
    /*height: 43vh;*/
}

.hlb{
    width: 105%;
    padding-top: 45%;
    overflow: hidden;
    position: relative;
    background-image: url(img/Digital.jpg);
    background-size: 100% 100%;
    /*height: 43vh;*/
}

.hrb{
    width: 95%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    background-image: url(img/Community.jpg);
    background-size: 100% 100%;
}

.sright{
    right: 3%;
}

.up{
    transform: translate(0%, -10%);
}

.parent{
    position: relative;
}

.Highlights {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 51%;
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/img-BSE-21.jpg) ;
    background-size: cover;
}

.Highlightscontaint {
    position: absolute;
    top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.Feedback{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/InterNations-Expat-Blog_Professional-Networking_Pic-2.jpg) ;

    background-size: cover;
}

.Services {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 1);
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/wtQNCZ.jpg) ;
    height: 100vh;
    background-size: cover;
}

.Insights {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 0 60px rgba(0, 0, 0, 1);
    overflow: hidden;
    position: relative;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(img/wtQNCZ.jpg) ;
    
    background-size: cover;
}

.istexty{
    font-family: Impact, Charcoal, sans-serif;
    color: rgb(161, 161, 0);
}

.btext{
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 500%;
}

.istextb{
    color: black;
}

.bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    /*animation-name: fadebottom;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;*/
}

.middle {
    position: absolute;
    width: 100%;
    height: 100%;
    animation-name: fademiddle;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.blackback {
    background-color: black !important;
}

.navbar-fixed-top{
    background-color: transparent;
}

.Mem1 {
    height: 250px;
    width: 250px;
    background: url(img/yih.png);
    border-radius: 100%;
    display: inline-block;
}

.Mem2 {
    height: 250px;
    width: 250px;
    background: url(img/yih.png);
    border-radius: 100%;
    display: inline-block;
}

.Mem3 {
    height: 250px;
    width: 250px;
    background: url(img/yih.png);
    border-radius: 100%;
    display: inline-block;
}

.circles{
    width: 100%;
    padding-top: 100%;
    background-image: url(img/ecosystem.jpg);
    background-size: contain;
    display: inline-block; 
}

.Blogl{
    width: 100%;
    padding-top: 80%;
    background: url(img/Blog-2-Image-1.jpg);
    display: inline-block;
    background-size: 100% 100%;
}

.Blogm{
    width: 100%;
    padding-top: 80%;
    background: url(img/im-te-digital-branch-jpg.jpg);
    display: inline-block;
    background-size: 100% 100%;
}

.Blogr{
    width: 100%;
    padding-top: 80%;
    background: url(img/Online-retail-sees-the-largest-jump-in-new-businesses-of-all-industries.jpg);
    display: inline-block;
    background-size: 100% 100%;
}

.Blogtxt{
    height: 140px;
    width: 100%;
    transform: translate(0%, -6%);
    background-color: rgb(8, 72, 145);
}

.top {
    width: 100%;
    height: 100%;
    animation-name: fadetop;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.carousel {
}

.aboutsquare{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 50%;
    top: 0%;
    /*transform: translate(0%, -60%);*/
    background: url(img/kirana-1.jpg);
    background-size: 100% 100%;
}

.communitysquare{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 80%;
    top: 0%;
    /*transform: translate(0%, -60%);*/
    background: url(img/yih.png);
    background-size: 100% 100%;
}

.bellow{
    top: 200px;
}

.supplier{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 80%;
    top: -200px;
    /*transform: translate(0%, -60%);*/
    background: url(img/yih.png);
    background-size: 100% 100%;
}

.retalier{
    position: absolute;
    width: 80%;
    margin-left: 10%;
    padding-top: 80%;
    top: -200px;
    /*transform: translate(0%, -60%);*/
    background: url(img/yih.png);
    background-size: 100% 100%;
}

.aboutrectangle{
    position: relative;
    width: 80%;
    margin-left: 10%;
    padding-top: 70%;
    /*transform: translate(0%, -60%);*/
    top: -70%;
    background: url(img/22165033.jpg);
    background-size: 100% 100%;
}

.vertical{
    position: absolute;
    width: 50%;
    writing-mode: vertical-rl;
    text-orientation: left;
    top: 0px;
    left: -5px;
}

.carousel img {
    position: relative;
      top: 0px;
      left: 0px;
      margin-right: 10px;
    display: block;
}

.toppad{
    padding-top: 15px;
}

.abouttop{
    padding-top: 0%;
}

.lift{
  top:-200px;
}

.aboutbottom{
    padding-bottom: 25%;
}

.retaill{
    top: 50px;
}

.retailr{
    top: 250px;
}

.dropbtn {
    background-color: black;
    color: grey;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: white;}

.retailtxt{
    position: absolute;
    width: 100%;
    font-family: Times New Roman, Times, serif; font-size: 400%;
    top: -80px;
    text-align: center;
}

.dot {
    width: 20%;
    padding-top: 20%;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

.cdot {
    position: absolute;
    width: 15%;
    padding-top: 15%;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1.95%;
    margin-top: -16.95%;
}

.bhline{
    border-bottom: 10px solid black;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-25%, -120%);
    width: 120%;
    height: 85%;
}

.bvline{
    height: 110%;
    border-left: 10px solid black;
    position: absolute;
    top: 90%;
    left: 44%;
    width: 50%;
}

.wtext{
    position: absolute;
    top: -20%;
}

.youtube{
    margin-top: 10rem;
}

@media screen and (max-width: 600px){
    .toppad{
        padding-top: 11px;
    }
    div.aboutsquare{
        top: -1530px;
    }
    div.communitysquare{
        top: -1650px;
    }
    .aboutrectangle{
        top: -80%;
    }
    .aboutbottom{
        padding-bottom: 40%;
    }
    .abouttop{
        padding-top: 50px;
    }
    .supplier{
        top: -250px;
    }
    .retalier{
        top: -150px;
    }
    .bellow{
        top: 0px;
    }
    .retaill{
        top: 170px;
    }
    .retailr{
        top: 125px;
    }
    .retailer{
        top: 50px;
    }
    .retailtxt{
        top: -200px;
    }
    .lift{
        top:-230px;
    }
    .vline{
        top: -230px;
    }
    .vertical{
        top: 75px;
    }
    .cdot {
        width: 12%;
        padding-top: 12%;
        margin-left: 2.3%;
        margin-top: -14.1%;
    }
    .bhline{
        border-bottom: 5px solid black;
    }
    .bvline{
        height: 350%;
        border-left: 5px solid black;
        top: 80%;
    }
    .wtext{
        font-size: medium;
    }
    .youtube{
        margin-top: 10rem;
    }
}

@media screen and (min-width: 601px){
    .toppad{
        padding-top: 15px;
    }
    div.aboutsquare{
        top: -50%;
    }
    div.communitysquare{
        top: -50%;
    }
    .aboutrectangle{
        top: -70%;
    }
    .aboutbottom{
        padding-bottom: 18%;
    }
    .abouttop{
        padding-top: 0%;
    }
    .supplier{
        top: -200px;
    }
    .retalier{
        top: -200px;
    }
    .bellow{
        top: 200px;
    }
    .retaill{
        top: 50px;
    }
    .retailr{
        top: 320px;
    }
    .retailtxt{
        top: -80px;
    }
    .lift{
        top:-200px;
    }
    .vline{
        top: -200px;
    }
    .vertical{
        top: 100px;
    }
    .cdot {
        width: 15%;
        padding-top: 15%;
        margin-left: 1.55%;
        margin-top: -16.55%;
    }
    .bhline{
        border-bottom: 8px solid black;
    }
    .bvline{
        height: 185%;
        border-left: 8px solid black;
    }
    .youtube{
        margin-top: 0rem;
    }
}

@media screen and ( min-width: 768px ) {
    .carousel img {
      height: 400px;
    }
  }

  @media screen and (min-width: 601px) {
    h3.istexty {
      font-size: 3rem;
    }
    h2.btext{
        font-size: 500%;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    h3.istexty {
      font-size: 2rem;
    }
    h2.btext{
        font-size: 230%;
    }
  }

  @keyframes fadetop {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    /*60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
      opacity: 0;
    }*/
  }

  @keyframes fademiddle {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
    /*60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }*/
  }

  /*@keyframes fadebottom {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    40%{
        opacity: 1;
    }
    60%{
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
    /*60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }*/